{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["prettier", "import", "simple-import-sort"],
  "rules": {
    "object-curly-spacing": ["warn", "always"],
    "import/no-anonymous-default-export": "off",
    "react/jsx-key": "error",
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": false
      }
    ],
    "@typescript-eslint/array-type": ["warn"],
    "@typescript-eslint/no-non-null-assertion": ["warn"],
    "no-unused-vars": "off",
    "no-console": ["warn", { "allow": ["warn", "error"] }],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_"
      }
    ],
    "import/newline-after-import": ["error", { "count": 1 }],
    "simple-import-sort/imports": [
      "warn",
      {
        "groups": [
          ["^\\u0000|^react$"],
          ["^@?\\w"],
          ["^config"],
          ["^[^.]"],
          ["^assets"],
          ["^packages"],
          ["^utils"],
          ["^types|^store|^services|^constants|^hooks|^theme|^connectors"],
          ["^pages"],
          ["^components"],
          ["^\\."]
        ]
      }
    ],
    "simple-import-sort/exports": "warn"
  }
}
