.inputButtonGroup {
  display: flex;
  gap: var(--spacing-m);
}

.iframePreview {
  margin-top: var(--spacing-l);
}

.grid {
  margin-top: var(--spacing-m);
  display: grid;
  grid-template-columns: 1fr 90px;
  column-gap: var(--spacing-m);
}

.switchGrid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-xl);
}

.marginTopLarge {
  margin-top: var(--spacing-l);
}
